article{
  cursor: pointer;
  padding: 1rem;
  background: rgb(0, 77, 128);
  margin-top: 10px;
  border-radius: 7px;
  min-width: 450px;
}
p, h5{
  margin: 4px;
}
h1, footer{
  text-align: center;
  margin: 2rem;
}
form, main{
  width: 50%;
  margin: auto;
  min-width: 450px;
}
main p, main h5{
  color: white;
}
form{
  text-align: center;
}
.complete{
  text-decoration: line-through;
}
